
.button{
 border-radius: 10px;
  box-shadow: 1px 1px 1px 0 gray;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;

  display: block;
  width: 100%;

  background-color: CornflowerBlue;
}

